In [1]:
##Bool Function

In [2]:
my_str='atul'

my_str.startswith('a')

True

In [3]:
my_str.endswith('a')

False

In [4]:
my_str.isalnum()

True

In [6]:
my_str='atul123'
my_str.isalnum()

True

In [7]:
my_str='atul123'
my_str.istitle()

False

In [8]:
my_str.islower()

True

In [9]:
my_str.isupper()

False

In [10]:
my_str.isspace()

False

## Boolenan and Logical Operators

In [11]:
True and True

True

In [12]:
True and False

False

In [13]:
True or True

True

In [14]:
True or False

True

In [18]:
a = "HeeloWorld"

b = 'atul'

In [19]:
a.isalnum() or b.isnumeric()

True

## Lists

* Mutable

* ORDERED SEQUENCE OF ELEMENTS

* CAN CONTAIN ANY ELEMENTS INSIDE IT

In [21]:
lst = []

print(type(lst))

<class 'list'>

In [23]:
lst = list()

print(type(lst))

<class 'list'>

In [24]:
lst = ['a','c','b']

print(len(lst))

3

In [25]:
#adding object at the end of list
lst.append('d')

lst

['a', 'c', 'b', 'd']

In [27]:
#append at some position using insert

lst.insert(1, 'pinkoo')

lst

['a', 'pinkoo', 'c', 'b', 'd']

**Accessing elements in list**

In [28]:
lst[:]

['a', 'pinkoo', 'c', 'b', 'd']

In [29]:
lst[1:]

['pinkoo', 'c', 'b', 'd']

In [30]:
lst[1:4]

['pinkoo', 'c', 'b']

In [32]:
lst.append(["John","Mintoo"])

lst

['a', 'pinkoo', 'c', 'b', 'd', ['John', 'Mintoo']]

**Extend Function**

In [34]:
lst = ['a','b','c']

lst

['a', 'b', 'c']

In [35]:
lst.extend(['d','e','f'])
lst

['a', 'b', 'c', 'd', 'e', 'f']

In [36]:
lst.extend(['d','e','f'],['m','n'])

lst

TypeError: extend() takes exactly one argument (2 given)

In [38]:
lst = [1,2,3,4,4]

sum(lst)

14

In [39]:
#removing last element

lst.pop()

4

In [40]:
lst

[1, 2, 3, 4]

In [41]:
#removing elements at specific index

lst.pop(0)

1

In [42]:
lst

[2, 3, 4]

**count() - colunts occurance of elements in list**

In [43]:
lst=[1,2,3,4,5,6,6,6,7]

lst.count(1)

1

In [44]:
lst.count(6)

3

In [45]:
#Index function: returns the index of first occurance of element

lst.index(6)

5

In [49]:
lst.index(6,6,10)

6

In [46]:
#minimum value in list
min(lst)

1

In [48]:
#maximim value in list
max(lst)

7

In [50]:
#all elements got appended again
lst*2

[1, 2, 3, 4, 5, 6, 6, 6, 7, 1, 2, 3, 4, 5, 6, 6, 6, 7]

In [51]:
lst

[1, 2, 3, 4, 5, 6, 6, 6, 7]